<nav class="navbar navbar-light navbar-expand-md py-3 border-bottom"  th:fragment="navbarFragment">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span style="font-weight: bold;font-size: 39px;border: 0px solid var(--bs-body-bg);box-shadow: inset 0px 0px;display: block;--bs-body-font-size: 1rem;font-family: 'Bebas Neue', serif;">DevelopJJong</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/aboutme" style="font-weight: bold;font-size: 24px;font-family: 'Open Sans', sans-serif;">About Me</a></li>
                <li class="nav-item"><a class="nav-link" href="/project" style="font-weight: bold;font-size: 24px;font-family: 'Open Sans', sans-serif;">Project</a></li>
                <li class="nav-item"><a class="nav-link" href="/skills" style="font-weight: bold;font-size: 24px;font-family: 'Open Sans', sans-serif;">Skills</a></li>
                <li class="nav-item"><a class="nav-link" href="mailto:jjong___e@naver.com" style="font-weight: bold;font-size: 24px;font-family: 'Open Sans', sans-serif;color: rgba(0,0,0,0.55);">Contact</a></li>
            </ul>
        </div>
    </div>
</nav><!-- End: Navbar Right Links -->
